################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/coursework_ZhengYang He_200245470/coursework_ZhengYang He_200245470/CW_HZY/Debug
/coursework_ZhengYang He_200245470/coursework_ZhengYang He_200245470/CW_HZY/.vs/CW/v16
/coursework_ZhengYang He_200245470/coursework_ZhengYang He_200245470/CW_HZY/x64
